<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>{{user.username}}でログインしています</div>
    <div class="col-2">
        <form method="post" action="{% url 'logout' %}">{% csrf_token %}
            <button class="btn btn-secondary" type="submit">ログアウト</button>
        </form>
    </div>
    <li><a href="{% url 'users:channel' %}">チャンネルAに遷移する</a></li>
    <li><a href="{% url 'users:channel' %}">チャンネルBに遷移する</a></li>
    <li><a href="{% url 'users:channel' %}">チャンネルCに遷移する</a></li>
    <li><a href="{% url 'users:channel' %}">チャンネルDに遷移する</a></li>
</body>
</html>