<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Async Test
</body>
<script>
    let socket = new WebSocket('ws://localhost:8000/ws/');
    let timer = null;
    socket.onopen = () => {
        timer = setInterval(() => {
            socket.send('hello');
        }, 1000);
    };
    socket.onclose = socket.onerror = () => {
        clearInterval(timer);
    };
</script>
</html>