<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Async Test
    <textarea id="messageTextArea" rows="100" cols="50"></textarea>
</body>
<script>
    let socket = new WebSocket('ws://localhost:8000/ws/');
    let timer = null;
    socket.onopen = () => {
        timer = setInterval(() => {
            socket.send('hello');
        }, 1000);
    };
    socket.onmessage = (message) => {
        // 出力areaにメッセージを表示する。
        messageTextArea.value += "Recieve From Server => " + message.data + "\n";
    }
    socket.onclose = socket.onerror = () => {
        clearInterval(timer);
    };
</script>
</html>